---
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import Main from "@/components/ui/Main.astro";
import PageContent from "@/components/ui/PageContent.astro";
import PageHeader from "@/components/ui/PageHeader.astro";
import { getFolderByIdService } from "@/modules/folders/services/get-folder-by-id.service";
import { CreateResourceFab } from "@/modules/resources/components/create-resource-fab";
import ResourceGrid from "@/modules/resources/components/ResourceGrid.astro";

const folderId = Astro.params.folder_id;
const [error, data] = await getFolderByIdService(folderId ?? "");

const folders = data?.data?.subfolders ?? [];
const notes = data?.data?.notes ?? [];
---

<AuthLayout title="Mi Espacio">
  <CreateResourceFab client:visible folderId={folderId} />

  <PageContent>
    <PageHeader> {data?.data.name} </PageHeader>

    <Main>
      <ResourceGrid folders={folders} notes={notes} error={error} />
    </Main>
  </PageContent>
</AuthLayout>
